.route {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  height: 18px;
  transform: translateY(-50%);

  background-color: rgba(0, 0, 0, 0.3);

  .progress {
    display: block;
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.states {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;

  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(-50%);

  padding: 0 50px;

  .state {
    display: block;
    position: absolute;
    width: 200px; // Default 200px
    text-align: center;
    margin-top: -30px;

    .state-name {
      //transform: translateY(-50%);
      padding: 20px;
      border-radius: 4px;
      background-color: #181818;
    }

    .state-repair {
      display: block;
      width: 100%;

      margin: 8px 0;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font: inherit;
      color: #ffffffbb;
      border-radius: 4px;
      background-color: #181818;

      &:hover {
        background-color: #262626;
      }
    }
  }
}
