<h1 style="margin-left: 5%; margin-top: 100px">Traitement de la céréale <span *ngIf="grain"> - {{ grain.name }}</span></h1>

<div class="route">
  <div id="progress" class="progress" appGrainTreatment></div>
</div>

<div class="states">
  <div class="state" style="left: 5%">
    <div class="state-name">Pesée</div>
<!--    <button class="state-repair">Réparer</button>-->
<!--    <input type="text" [value]="currentGrain">-->
  </div>

  <div class="state" style="left: 20%">
    <div class="state-name">Trémie</div>
<!--    <button class="state-repair">Réparer</button>-->
  </div>

  <div class="state" style="left: 35%">
    <div class="state-name">Prélèvement échantillon</div>
<!--    <button class="state-repair">Réparer</button>-->
  </div>

  <div class="state" style="left: 55%">
    <div class="state-name">Élévateur</div>
<!--    <button class="state-repair">Réparer</button>-->
  </div>

  <div class="state" style="left: 88%">
    <div class="state-name">Nettoyage</div>
<!--    <button class="state-repair">Réparer</button>-->
  </div>
</div>
