#grains {
  display: block;
  width: 100%;
  height: 100%;
}

.grains-list,
.companies-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;

  width: 10%;
  height: 80%;
  top: 50%;
  left: 0;

  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 8px 8px 0;
  padding: 8px;

  .list-title {
    margin: 8px 0 16px 0;
  }
}

.grain-type,
.company {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 8px;
  margin-bottom: 8px;

  font-size: 0.75em;

  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.companies-list {
  left: auto;
  right: 0;
  border-radius: 4px 0 0 4px;
}

.grains-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 80%;
  height: 80%;

  left: 50%;
  transform: translateX(-50%);

  text-align: center;
  margin: 16px auto;
  padding: 8px;

  .list-title {
    margin: 16px;
  }

  .grain-type {
    width: calc(100% / 4);
  }

  .silos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .silos-name {
      font-size: 1.4em;
      margin-bottom: 8px;
    }

    .silos-temperature {
      font-size: 1.2em;
      margin-bottom: 8px;
      color: #ffffff88;
    }

    .silos-action {
      font-size: 0.8em;
    }
  }

  .silos.action {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #04040a;
    }
  }

  .grains-treatment {
    display: flex;
    flex-direction: row;

    width: 90%;
    margin: 16px auto 32px auto;
    height: 140px;

    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
