<div class="companies-list">
  <div class="list-title">Entreprises</div>
  <div class="company" (drop)="dropSilot(index)" (dragover)="dragOver($event)" *ngFor="let buyer of buyers; let index = index">
    <div class="company-name">{{ buyer.name }}</div>
    <div class="company-want">Veut : {{ buyer.favorite }}</div>
  </div>
</div>
