.companies-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;

  width: 10%;
  height: 100%;
  top: 55px;
  left: auto;
  right: 0;
  bottom: 0;

  background-color: #212121;
  padding: 8px;

  .list-title {
    margin: 8px 0 16px 0;
  }
}
.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 8px;
  margin-bottom: 8px;

  font-size: 0.75em;

  background-color: #383838;
  border-radius: 4px;
  transition: background-color 0.3s;

  .company-name {
    font-size: 1.1em;
    margin-bottom: 4px;
  }

  .company-want {
    font-size: 1em;
  }
}
