.silos-view {
  display: block;
  position: absolute;

  top: 50%;
  left: 50%;
  width: 80%;
  height: 60%;

  transform: translateX(-50%) translateY(-50%);

  background-color: #181818;

  .shape {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;

    background-color: #ff5454;
  }
}
