<h1 style="margin-left: 10%; margin-top: 50px;">Vue du silot - <i style="font-size: 0.9em"><small>Cliquez sur les formes pour réguler la température</small></i></h1>
<div class="silos-view">
  <div *ngFor="let shape of shapes; let index = index;">
    <div class="shape" (click)="remove(shape)" [style.top]="shape.top + '%'" [style.left]="shape.left + '%'"></div>
  </div>
</div>
