<header>
  <div class="logo">GL</div>
  <div class="header-title">Projet Génie logiciel / CWA</div>
</header>

<app-grain-container id="main-view"></app-grain-container>
<app-grains id="grain-view" style="display: none"></app-grains>
<!--<app-grains style="display: block"></app-grains>-->
<app-silot id="silot-view" style="display: none;"></app-silot>

<!--<router-outlet></router-outlet>-->
