header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 55px;
  padding: 0 10px;

  background-color: #202020;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    border-radius: 8px;

    font-size: 0.9em;
    font-weight: 600;
    background-color: #3ea6ff;
    color: white;
  }
}
