.grains-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55px;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 150px;

  border-radius: 20px 20px 0 0;
  background-color: #181818;

  .list-title {
    display: block;
    padding: 20px;
    text-align: center;
  }

  .grains-treatment {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .grain-type {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 55px;
      margin: 5px;

      background-color: #383838;
      border-radius: 4px;
      cursor: move;
      transition: 0.3s;

      &:hover {
        background-color: #4c4c4c;
      }
    }
  }
}
