<div class="grains-container">
  <div class="list-title">Céréales traitées</div>
  <div class="grains-treatment">
    <div *ngFor="let grain of treatedGrains; let index = index">
      <div class="grain-type" (drag)="dragGrain(index)" (dragend)="dropGrain()" *ngIf="grain.treated && !grain.inSilos" draggable="true">{{ grain.name }}</div>
    </div>

<!--    <input type="text" [value]="currentGrain">-->
  </div>
</div>
