<div class="silos-container">
  <div class="list-title">Silos</div>
  <div class="silos-list">
    <div class="silos" (drop)="dropGrain(index)" (dragover)="dragOver($event)" *ngFor="let silot of silots; let index = index" [appSilosTemperature]="silot">
      <div *ngIf="silot.grain" (drag)="dragSilot(index)" (click)="clicker(index)" [class.active]="silot.temperature >= 30" [class.move]="silot.seleable" [draggable]="silot.seleable">
        <div class="grain-type">{{ silot.grain.name }}</div>
        <div class="silos-temperature">Température: {{ silot.temperature }}°</div>
        <div class="click" *ngIf="silot.temperature >= 30">(Cliquez ici pour gérer la température)</div>
        <div class="click" *ngIf="silot.seleable">(Glissez-déposez sur une entreprise pour vendre)</div>
      </div>
    </div>
  </div>
</div>
