.silos-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(55px + 150px);
  left: 10%;
  right: 10%;
  width: 80%;
  height: calc(100% - 55px - 170px);

  padding-top: 50px;

  background-color: #181818;
  border-radius: 0 0 20px 20px;

  .list-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .silos-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .silos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: calc(100% / 5);
      height: 150px;
      margin: 5px;

      background-color: #141414;

      * { text-align: center; }

      .grain-type {
        margin-bottom: 8px;
        font-size: 1.2em;
      }
    }

    .active, .move {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-color: #383838;
      cursor: pointer;

      &:hover {
        background-color: #4c4c4c;
      }
    }

    .move {
      cursor: move;
    }
  }
}
