<div class="grains-list">
  <div class="list-title">Céréales en attente</div>

  <div *ngFor="let grain of grains; let index = index" style="width: 100%">
    <a class="grain-type" (click)="getGrain(index)" *ngIf="!grain.treated">{{ grain.name }}</a>
  </div>

<!--  <input type="text" [value]="currentGrain">-->
</div>
