.grains-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;

  width: 10%;
  height: 100%;
  top: 55px;
  left: 0;
  bottom: 0;

  background-color: #212121;
  padding: 8px;

  .list-title {
    margin: 8px 0 16px 0;
  }
}
.grain-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 8px;
  margin-bottom: 8px;

  font-size: 0.75em;

  background-color: #383838;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #4c4c4c;
  }
}
