/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;

  font-family: sans-serif;
  color: #aaaaaa;
  //background-color: #181818;
  background-color: #202020;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
